#aboutme {
    background-color: #f0eeeb;
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 100px;
        font-weight: 600;
        margin-bottom: 60px;
        color: #505050;
    }

    .content {
        display: flex;
        align-items: flex-start;
        gap: 40px;

        img {
            width: 270px;
            height: 350px;
            object-fit: cover;
            border: 1px solid #ccc;
            background-color: #fff;
        }

        .info {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: #222;
                margin-bottom: 24px;

                svg {
                    font-size: 35px;
                    margin-right: 12px;
                    color: #222;
                }

                span {
                    @include font-gray24();
                }
            }
        }
    }

    .description {
        margin: 50px 0 58px;
        @include font-gray24();
        text-align: center;
    }

    .git-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #050505;
        border-radius: 20px;
        padding: 12px 30px;
        cursor: pointer;
        user-select: none;
        transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background 0.3s, color 0.3s, box-shadow 0.3s;

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        p,
        .git {
            font-size: 28px;
            font-weight: 600;
            color: #f97316;
            transition: color 0.3s;
        }

        &:hover {
            transform: scale(1.1) translateY(-3px);
            background-color: #f97316;
            p,
            .git {
                color: #050505;
            }
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
        }

        &:active {
            transform: scale(0.95) translateY(0);
            box-shadow: none;
            background-color: #f97316;
            p,
            .git {
                color: #050505;
            }
        }
    }

    // 반응형
    @include tablet {
        h2 {
            font-size: 50px;
            margin-bottom: 24px;
        }
        .content {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
        .info li {
            font-size: 22px;
            svg {
                font-size: 22px;
            }
        }
        .description {
            font-size: 20px;
            margin: 18px 0 24px;
        }
    }

    @include mobile {
        padding: 5rem 0.5rem;
        h2 {
            font-size: 32px;
            margin-bottom: 12px;
        }
        .content {
            flex-direction: column;
            align-items: center;
            gap: 8px;

            img {
                width: 220px;
                height: 280px;
            }
        }
        .info li {
            font-size: 14px;
            margin-bottom: 10px;
            svg {
                font-size: 14px;
            }
        }
        .description {
            max-width: 390px;
            font-size: 18px;
            margin: 10px 0 12px;
            text-align: left;
        }
        .git-container {
            padding: 5px 8px;
            p,
            .git {
                font-size: 18px;
            }
        }
    }
}
