.clone-container {
  background-color: #F0EEEB;
  padding: 60px;
}

.clone-container h2 {
  margin-bottom: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  @include font-gray50();
}

.clone-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.clone-item {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.clone-item img {

  max-width: 330px;
  max-height: 430px;
  display: block;
  margin-bottom: 1rem;
  object-fit: cover;
}

.clone-meta {
  width: 100%;
}

.clone-meta .meta-title {
  @include font-gray24();
  margin-bottom: 1rem;
}

.clone-meta .meta-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clone-meta .meta-links li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 20px;
  color: #505050;
}

.clone-meta .meta-links li span {
  display: flex;
  align-items: center;
  gap: 10px;
 
}

.full-width {
  grid-column: 1 / -1;
}

.full-width img {
  max-width: 930px;
  max-height: 530px;
  width: auto;
}