#cover {
  background-color: $blk-background;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 5rem;

  .cover-content {
    text-align: left;
    margin-top: 2rem;

    h2 {
      @include font-white50();
      margin: 0 0 1.5rem 0;
      &.highlight {
        color: #f97316;
        font-weight: 400;
        font-size: 80px;
      }
    }

    p {
      margin-top: 2rem;
      font-family: "Paperlogy";
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.8;
      max-width: 900px;
    }

    .highlight {
      color: #f97316;
    }
  }

  .arrow-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    .bottom-arrow {
      @include btn-style();
      background: none;
      color: #f97316;
      font-size: 2.5rem;
    }
  }

  // 반응형 처리
  @include desktop {
    padding: 8rem 3rem;

    .cover-content {
      h2 {
        font-size: 40px;
        &.highlight {
          font-size: 60px;
        }
      }
      p {
        font-size: 1.1rem;
        max-width: 700px;
      }
    }
    .arrow-container .bottom-arrow {
      font-size: 2rem;
    }
  }

  @include tablet {
    padding: 5rem 1.5rem;

    .cover-content {
      h2 {
        font-size: 32px;
        &.highlight {
          font-size: 40px;
        }
      }
      p {
        font-size: 1rem;
        max-width: 90vw;
      }
    }
    .arrow-container .bottom-arrow {
      font-size: 1.7rem;
    }
  }

  @include mobile {
    padding: 2.5rem 0.5rem;

    .cover-content {
      margin-top: 1rem;
      h2 {
        font-size: 22px;
        &.highlight {
          font-size: 32px;
        }
      }
      p {
        font-size: 1rem;
        max-width: 98vw;
      }
    }
    .arrow-container {
      margin-top: 40px;
      .bottom-arrow {
        font-size: 1.3rem;
      }
    }
  }
}