#end {
    background-color: #050608;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 5rem;

    .end-text {
        text-align: left;

        h2 {
            @include font-white50();
            margin-bottom: 1.5rem;
            line-height: 1.1;

            &.highlight {
                color: #f97316;
                font-weight: 400;
                font-size: 80px;
            }

            &.myname {
                color: #fff;
                font-weight: 400;
                font-size: 80px;
            }
        }
    }

    .git-container {
        margin: 0 auto 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #050505;
        border-radius: 20px;
        padding: 12px 30px;
        cursor: pointer;
        user-select: none;
        transition: transform 0.3s, background 0.3s, color 0.3s, box-shadow 0.3s;

        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            text-decoration: none;
            color: #f97316;
            font-weight: 600;
            font-size: 1.5rem;
            transition: color 0.3s;
        }

        .git {
            font-size: 2rem;
            color: #f97316;
            transition: color 0.3s;
        }

        &:hover {
            transform: scale(1.1) translateY(-3px);
            background-color: #f97316;
            a,
            .git {
                color: #050608;
            }
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
        }

        &:active {
            transform: scale(0.95) translateY(0);
            background-color: #f97316;
            a,
            .git {
                color: #050608;
            }
            box-shadow: none;
        }
    }

    // Tablet
    @include tablet {
        padding: 10rem 5rem;

        .end-text h2 {
            margin-bottom: 1.5rem;

            &.highlight,
            &.myname {
                font-size: 80px;
            }
        }

        .git-container {
            margin-bottom: 2rem;

            a {
                font-size: 1.5rem;
            }

            .git {
                font-size: 2rem;
            }
        }
    }

    // Mobile
    @include mobile {
        padding: 5rem 2rem;

        .end-text {
            margin-top: 5rem;

            h2 {
                font-size: 32px;

                &.highlight,
                &.myname {
                    font-size: 42px;
                }
            }
        }

        .git-container {
            margin-top: 30px;

            a {
                font-size: 1.1rem;
            }

            .git {
                font-size: 1.1rem;
            }
        }
    }
}
