#index {
  background-color: $blk-background;
  color: #fff;
  height: 100vh;
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  @include font-white50();
  line-height: 1.1;

  h2 {
    margin-top: 3rem;
    margin-bottom: 40px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 36px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  // 반응형
  @include tablet {
    padding: 10rem 2rem;

    h2 {
      font-size: 50px;
    }

    ul li {
      font-size: 50px;
      margin-bottom: 18px;
    }
  }

  @include mobile {
    padding: 5rem 2rem;

    h2 {
      font-size: 40px;
      margin-bottom: 15px;
    }

    ul li {
      font-size: 34px;
      margin-bottom: 10px;
    }

    h2,
    ul li {
      line-height: 1.4; 
    }
  }
}
