#index {
  background-color: $blk-background;
  color: #fff;
  height: 100vh;
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  @include font-white50();
  line-height: 1.1;

  h2 {
    margin-bottom: 108px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 36px;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

//반응형

  // 태블릿
  @include tablet {
    padding: 2rem 1rem;

    h2 {
      font-size: 50px;
      margin-bottom: 40px;
    }

    ul li {
      font-size: 50px;
      margin-bottom: 18px;
    }
  }

  // 모바일
  @include mobile {
    padding: 1rem 1rem;

    h2 {
      font-size: 40px;
      margin-bottom: 15px;
      line-height: 1.4;
    }

    ul li {
      font-size: 34px;
      margin-bottom: 10px;
      line-height: 1.4;
    }
  }
}
