#publishing {
    background-color: $blk-background;
    color: #fff;
    padding: 10rem 5rem;
    text-align: center;
    h2 {
        @include font-white50();
        margin-bottom: 70px;
    }
    .form {
        padding: 20px;
        max-width: 980px;
        margin: 0 auto 40px;
        border-bottom: 1px solid #505050;

        h2 {
            color: #f97316;
            font-size: 50px;
            font-weight: 600;
            margin-top: 20px;
        }

        img {
            display: block;
            margin: 40px auto;
            width: 960px;
            height: 560px;
            object-fit: cover;
        }

        p,
        ul {
            @include font-white24();
            text-align: left;
            margin: 20px auto;
            font-size: 22px;
            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    color: #f97316;
                    transition: color 0.3s;                    
                }
                
            }
        }
    }
}

// 데스크탑 = 태블릿
@include tablet {
    #publishing {
        h2 {
            font-size: 50px;
            margin-bottom: 70px;
        }
        .form {
            h2 {
                font-size: 50px;
            }
            img {
                width: 840px;
                height: 560px;
                margin: 40px auto;
            }
            p {
                font-size: 22px;
            }
            max-width: 980px;
        }
    }
}

// 모바일 최적화
@include mobile {
    #publishing {
         padding: 5rem 4px;

        h2 {
            font-size: 28px;
            margin-bottom: 12px;
        }

        .form {
            padding: 8px;
            max-width: 100vw;

            h2 {
                font-size: 22px;
                margin-top: 10px;
            }

            img {
                width: 90vw;
                height: auto;
                margin: 8px auto;
            }

            p,ul {
                font-size: 14px;
                margin: 8px auto;
            }
        }
    }
}
