#publishing {
    background-color: $blk-background;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#publishing h2 {
    @include font-white50();
    margin-bottom: 70px;
}

#publishing .form h2 {
    color: #f97316;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}

#publishing p {
    @include font-white24();
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

#publishing p ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#publishing p a {
    color: #ffffff;
    text-decoration: none;
}

#publishing p a:hover {
    text-decoration: underline;
}

#publishing img {
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 560px;
    display: block;
    margin: 40px auto;
}

.form {
    padding: 20px;
    max-width: 980px;
    margin: 0 auto;
    border-bottom: 1px solid #505050;
}

// 반응형 처리
@include desktop {
    #publishing {
        padding: 16px;
    }
    #publishing h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    #publishing .form h2 {
        font-size: 36px;
    }
    #publishing img {
        width: 700px;
        height: 400px;
        margin: 24px auto;
    }
    .form {
        padding: 16px;
        max-width: 700px;
    }
    #publishing p {
        font-size: 16px;
    }
}

@include tablet {
    #publishing {
        padding: 8px;
    }
    #publishing h2 {
        font-size: 28px;
        margin-bottom: 24px;
    }
    #publishing .form h2 {
        font-size: 22px;
    }
    #publishing img {
        width: 98vw;
        height: auto;
        max-width: 420px;
        max-height: 260px;
        margin: 16px auto;
    }
    .form {
        padding: 8px;
        max-width: 98vw;
    }
    #publishing p {
        font-size: 13px;
    }
}

@include mobile {
    #publishing {
        padding: 4px;
    }
    #publishing h2 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    #publishing .form h2 {
        font-size: 15px;
        margin-top: 10px;
    }
    #publishing img {
        width: 98vw;
        height: auto;
        max-width: 98vw;
        max-height: 140px;
        margin: 8px auto;
    }
    .form {
        padding: 4px;
        max-width: 100vw;
    }
    #publishing p {
        font-size: 10px;
        margin: 8px auto;
    }
}