@import "./styles/global.scss";
// cover 스타일링
@import "./styles/detail/cover.scss";
@import "./styles/detail/end.scss";
@import "./styles/detail/index.scss";
@import "./styles/detail/skills.scss";
@import "./styles/detail/aboutme.scss";
@import "./styles/detail/myproject.scss";
@import "./styles/detail/publishing.scss";
@import "./styles/detail/clonecoding1.scss";
@import "./styles/detail/clonecoding25.scss";
@import "./styles/detail/main-project.scss";
@import "./styles/detail/header.scss";


#app {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}